# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.Python
.venv/
venv/
backend/.venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Django
*.log
staticfiles/
media/
backend/staticfiles/
backend/media/
backend/.env

# Docker and OS
.docker/
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
